<h1>Bienvenido a <%= title %></h1>
<p>¡El portal donde podrás crear tus propios juegos!</p>
<div>
	<table>
		<tr><td><a href="quizes/1">Capital de Italia?</a></td></tr>
		<tr><td><a href="quizes/2">Capital de Portugal?</a></td></tr>
	</table>
</div>
